@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  margin: 0;
  color: hsl(207, 13%, 34%);
  background-color: #f1efef67;
}

p{font-size: 16px; font-family: 'Overpass', sans-serif;}
button, a{font-size: 14px; font-family: 'Overpass', sans-serif;}
/* a{font-size: 14px; font-family: 'Overpass', sans-serif;} */

h1{font-size: 20px; color: hsl(208, 49%, 24%); font-family: 'Ubuntu', sans-serif;}
h2{font-size: 18px; color: hsl(208, 49%, 24%); font-family: 'Ubuntu', sans-serif;}

@media(min-width:768px){
  p{font-size: 18px;}
  button, a{font-size: 20px;}
  h1{font-size: 26px;}
  h2{font-size: 24px;}
}


